# Tarea 1 Bases de Datos 2022-1 Grupo 08

## Integrantes:
* Carlos Soto - 201821035-8
* Tomoaki Iwaya - 201821017-K

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [3]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="password"
)

print(connection)
cursor = connection.cursor()

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [ ]:
%%sql
CREATE TABLE Usuarios (
    ID_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
);

### Tabla "Creadores"

In [ ]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR(45),
    PRIMARY KEY (ID_creador)
);

### Tabla "Tipos_NTF"

In [ ]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (ID_tipo)
);

### Tabla "NFT"

In [ ]:
%%sql
CREATE TABLE NFT (
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    ID_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (ID_tipo) REFERENCES Tipos_NFT (ID_tipo)
);

### Tabla "Precio NFT"

In [ ]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

### Tabla "Usuario tiene NFT"

In [ ]:
%%sql
CREATE TABLE Usuario_tiene_NFT (
    ID_usuario INTEGER,
    ID_nft INTEGER,
    PRIMARY KEY (ID_usuario, ID_nft),
    FOREIGN KEY (ID_usuario) REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** Se seleccionan las columnas solicitadas en la tabla 'creadores' donde se cumpla que los artistas tengan un estilo de tipo 'Manga', para luego ser ordenados según su popularidad de forma descendente limitando el número de resultados en 1. De ésta forma se retorna el id y nombre del artista con mayor popularidad en el estilo "Manga".

In [ ]:
%%sql
SELECT
    id_creador AS id, nombre AS creador
FROM
    creadores
WHERE
    estilo = '<estilo>'
ORDER BY
    popularidad DESC
LIMIT
    1

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** Se realiza un INNER JOIN entre la tabla precio_NFT y NFT utilizando como enlace el atributo en común id_nft. De ésta forma se tiene una tabla que contiene el nombre de los nft´s junto con los diferentes precios históricos que han tenido. Luego se realiza una consulta que retorne la cantidad de veces que se repite cada nombre dentro de la tabla generada, dada la naturaleza de las tablas el resultado corresponde a la cantidad de precios históricos asignados a cada nombre de NFT´s

In [ ]:
%%sql
SELECT
    nombre AS nft, COUNT(nombre) AS cantidad_de_precios
FROM
    nft
INNER JOIN
    precio_nft ON nft.id_nft=precio_nft.id_nft
GROUP BY
    nombre

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    nft.nombre AS nft, tipos_nft.nombre AS tipo
FROM
    precio_nft
INNER JOIN nft ON 
    nft.id_nft=precio_nft.id_nft
INNER JOIN tipos_nft ON
    tipos_nft.id_tipo=nft.id_tipo
ORDER BY
    precio DESC
LIMIT
    1

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** Se une la tabla usuarios con usuario_tiene_nft a través de INNER JOIN usando como conector la colummna id_usuario. Luego la tabla resultante se ordena y agrupa según la cantidad de veces que se repite el id de los usuarios. Finalmente se retorna el nombre y apellido de la persona que posee más NFT´s

In [ ]:
%%sql
SELECT
    usuarios.nombre, usuarios.apellido
FROM
    usuario_tiene_nft
INNER JOIN
    usuarios ON usuarios.id_usuario=usuario_tiene_nft.id_usuario
GROUP BY
    usuario_tiene_nft.id_usuario, usuarios.nombre, usuarios.apellido
ORDER BY
    COUNT(usuario_tiene_nft.id_usuario) DESC
LIMIT
    1

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Se reutiliza la query empleada en la consulta 2 seleccionando las columnas 'ID_nft' y 'nombre', ordenando el resultado en orden descendente de acuerdo a la cantidad de veces que se repite cada nombre de NFT, finalmente se limita el resultado a 1.

In [ ]:
%%sql
SELECT
    nft.id_nft AS id, nombre AS nft
FROM
    nft
INNER JOIN
    precio_nft ON nft.id_nft=precio_nft.id_nft
GROUP BY
    nombre, nft.id_nft
ORDER BY
    COUNT(nombre) DESC
LIMIT
    1

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** De la tabla usuario_tiene_nft, se selecciona y crea una tabla solo con el atributo id_usuarios. Luego, de la tabla usuarios se consulta por aquellas id's que no figuran en la consulta antes realizada. Finalmente, se selecciona el nombre y apellido de la tabla resultante.

In [ ]:
%%sql
SELECT
    nombre, apellido
FROM
    usuarios
WHERE ID_usuario NOT IN (
    SELECT 
        ID_usuario
    FROM
        usuario_tiene_NFT
)

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Primero se realizó un INNER JOIN entre la tabla nft y tipos_nft teniendo como condición que coincidieran los id's de los tipos de nft. Luego con el resultado de la consulta anterior se realizó un nuevo INNER JOIN con la tabla precio_nft donde coincicieran las id's de los nft's. Finalmente se filtró por las entradas del último año y con los precios de forma descendente, limitando el resultado en 4.

In [ ]:
%%sql
SELECT
    nft.nombre AS nft
FROM
    nft
INNER JOIN
    (SELECT
        id_tipo
    FROM
        tipos_nft
    WHERE
        nombre = '<tipo>') AS TIPO ON  nft.id_tipo = TIPO.id_tipo
INNER JOIN
    precio_nft ON nft.id_nft = precio_nft.id_nft
WHERE
    precio_nft.fecha > '2022-01-01 00:00:00'
ORDER BY
    precio_nft.precio DESC
LIMIT
    4

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** Se realizó un INNER JOIN entre las tablas nft y precio_nft para luego filtrar el resultado por aquellas fechas que están entre 2017-01-01 y 2019-12-31

In [ ]:
%%sql
SELECT
    nft.nombre AS nft, precio_nft.precio
FROM
    precio_nft
INNER JOIN
    nft
ON
    precio_nft.id_nft = nft.id_nft
WHERE 
    fecha BETWEEN '2017-01-01' AND '2019-12-31';

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** Se creó una subconsulta que retorna, dentro de otros atributos, la cantidad de usuarios que poseen cierto nft (equivalentemente la cantidad de veces que se vendió un nft), luego se unió el resultado con la tabla creadores desde donde se extrajo el nombre y apellido del creador del nft más vendido.

In [ ]:
%%sql
SELECT
    creadores.nombre, creadores.apellido, COUNT(creadores.nombre) AS CANTIDAD
FROM
    (SELECT
        usuario_tiene_nft.id_nft, nft.id_creador, COUNT(usuario_tiene_nft.id_nft) AS cantidad
    FROM
        usuario_tiene_nft
    INNER JOIN
        nft
    ON
        usuario_tiene_nft.id_nft = nft.id_nft
    INNER JOIN
        creadores
    ON
        creadores.id_creador = nft.id_creador
    GROUP BY
        usuario_tiene_nft.id_nft, nft.id_creador
    ORDER BY
        COUNT(usuario_tiene_nft.id_nft) DESC
    ) AS CREADOR
INNER JOIN
    creadores
ON
    CREADOR.id_creador = creadores.id_creador
GROUP BY
    creadores.nombre, creadores.apellido
ORDER BY 
    CANTIDAD DESC
LIMIT
    1

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** A partir de la tabla creadores se extrae la id de un creador dado un nombre y apellido, luego se extraen todos los ids de los nfts asociados a ese id de creador para luego buscar en la tabla precio_nft los valores que han tenido los nfts de este creador, filtrando por aquellos precios pertenecientes al presente año. El resultado de ordena de mayor a menor limitando el resultado en 1. De esta forma se obtiene el nft actual más caro de cierto creador.

In [ ]:
%%sql
SELECT
    NFTS.nombre AS NFT, precio_nft.precio AS valor
FROM
    (SELECT
        nft.id_nft, nft.nombre
    FROM
        (SELECT
            creadores.id_creador
        FROM
            creadores
        WHERE
            creadores.nombre = '<nombre>' AND creadores.apellido = '<apellido>') AS CREADOR
    INNER JOIN
        nft
    ON
        nft.id_creador = CREADOR.id_creador) AS NFTS
INNER JOIN
    precio_nft
ON
    precio_nft.id_nft = NFTS.id_nft
WHERE
    precio_nft.fecha > '2022-01-01'
ORDER BY
    precio_nft.precio DESC
LIMIT
    1

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';